
@font-face {
  font-family: "HeliosExt";
  src: url("../fonts/HeliosExt/HeliosExt.woff") format("woff"),
  url("../fonts/HeliosExt/HeliosExt.otf") format("otf"),
  url("../fonts/HeliosExt/HeliosExt.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExt-Bold";
  src: url("../fonts/HeliosExt-Bold/HeliosExt-Bold.woff") format("woff"),
  url("../fonts/HeliosExt-Bold/HeliosExt-Bold.otf") format("otf"),
  url("../fonts/HeliosExt-Bold/HeliosExt-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExtLightC";
  src: url("../fonts/HeliosExtLightC/HeliosExtLightC.woff") format("woff"),
  url("../fonts/HeliosExtLightC/HeliosExtLightC.otf") format("otf"),
  url("../fonts/HeliosExtLightC/HeliosExtLightC.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExtThinC";
  src: url("../fonts/HeliosExtThinC/HeliosExtThinC.woff") format("woff"),
  url("../fonts/HeliosExtThinC/HeliosExtThinC.otf") format("otf"),
  url("../fonts/HeliosExtThinC/HeliosExtThinC.ttf") format("ttf");
}

@font-face {
  font-family: "Square721TL";
  src: url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.woff") format("woff"),
  url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.otf") format("otf"),
  url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.ttf") format("ttf");
}

$color-prime: #ffebc4;

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'HeliosExt', "Arial", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.page-block {
  outline: 1px dashed orangered;
  position: relative;
  //display: flex;
  padding: 0 20px;

  &_header {
    height: 630px;
    background-color: #ffebc4;
  }

  &__content-wrap {
    display: flex;
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__content-left,
  &__content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
  }

  &__content-header {
    margin-bottom: 12px;
    color: #3a3a3a;
    font-family: "Square721TL";
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.8px;   
  }

  &__series-label {
    margin-bottom: 60px;
    
    color: #8c847b;
    font-family: "Square721TL";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.4px;  
  }

  &__delimiter {
    margin-bottom: 30px;
    width: 130px;
    border-bottom: 1px solid #000;
    
    font-size: 0;
  }
  
  &__img-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  &__img {
    
    &_series {
      position: absolute;  
      top: 382px;
      left: 50%;
      transform: translateX(-50%);
    }

    &_base-cream {
      position: relative;
      width: 530px;
      height: 1116px;
    }

    &_label {
      position: absolute;
      z-index: 2;
      top: -57px;
      right: -51px;
    }
  }

  &__age-restrict {
    margin-top: 27px;
    margin-left: -158px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    color: #b29c87;
    font-family: "HeliosExtLightC";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;

    &_age-0 {
      background-image: url('../img/base-cream/0+.png');
      background-repeat: no-repeat;
      width: 245px;
      height: 58px;
    }
  }

  &__btn-buy {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
    height: 63px;
    
    background-image: url("../img/base-cream/pin_map.png");
    background-repeat: no-repeat;
    background-position: center top;
    
    color: #3a3a3a;
    font-family: "HeliosExt";
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-family: "HeliosExtThinC";
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    &_light {
      color: #ffffff;
    }
  }
  
  &__subtitle {
    opacity: 0.5;
    color: #967f68;
    font-family: "Square721TL";
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.48px;

    &_absolute {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__content-title {
    color: #3a3a3a;
    font-family: "HeliosExtThinC";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.8px;  
  }

  &__desc-title {
    color: #3a3a3a;
    font-family: "HeliosExt";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;  
  }

  &__desc {
    padding-bottom: 22px;
    color: #3a3a3a;
    font-family: "HeliosExtLightC";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;

    .hlt {
      font-family: "HeliosExt";
      color: #e82c2a;
    }

    &_prime {
      padding-left: 49px;
      color: #fff;
      //box-shadow: -2px 0 0 -1px red;
      border-left: 1px solid #e82c2a;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__slogan {
    color: #3a3a3a;
    font-family: "HeliosExtThinC";
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 0.56px;  
    padding-left: 50px;
    border-left: 1px solid #e82c2a;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 50px;
  }

  &__item {
    position: relative;
    margin-bottom: 13px;
    max-width: 530px;
    
    color: #8c847b;
    font-family: "HeliosExtLightC";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;

    &::before {
      content: '';
      position: absolute;
      left: -50px;
      top: 12px;
      display: block;
      width: 10px;
      height: 1px;
      background-color: #000;
    }
  }
}

.page-main_base-cream {
  .page-block {
    /* секция 1 */
    &:nth-of-type(1) {
      .page-block__img-wrap {
        position: absolute;
        z-index: 10;
    
        &_base {
          top: 115px;
          left: 50%;
          transform: translateX(-57%);
        }
      }
    }
    /* секция 2 */
    &:nth-of-type(2) {
      height: 936px;
      padding-top: 135px;
      background-image: url("../img/base-cream/rus_map.png");
      background-repeat: no-repeat;
      background-position: center 742px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 424px;
        left: 50%;
        width: 1px;
        height: 340px;
        background-color: #000;
      }

      .page-block__content-left {
        padding-right: 150px;
      }

      .page-block__content-right {
        align-items: flex-end;
        padding-left: 150px;
        padding-right: 40px;
      }

      .page-block__desc {
        max-width: 480px;
      }
    }
    /* секция 3 */
    &:nth-of-type(3) {
      height: 870px;
      padding-top: 185px;
      background-image: url("../img/base-cream/bg-skin.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .page-block {
        &__title {
          margin-bottom: 80px;
        }
    
        &__desc_prime {
          max-width: 466px;
        }
      }
    }
    /* секция 4 */
    &:nth-of-type(4) {
      padding-bottom: 170px;
      .page-block {
        &__content-left,
        &__content-right {
          //width: 50%;
          flex: 0 0 50%;
          justify-content: flex-start;
        }
        &__content-left {
          .page-block__img-wrap {
            max-width: 580px;
            margin-top: 55px;
            margin-bottom: 45px;
          }
          .page-block__desc {
            max-width: 450px;
          } 
        }
        &__content-right {
          align-items: flex-start;
          .page-block__img-wrap {
            position: absolute;
            top: -464px;
          }
          .page-block__desc {
            margin-top: 180px;
            max-width: 600px;
          }
          .page-block__slogan {
            margin-top: 72px;
            max-width: 550px;  
          }
        }
      }
    }
    /* секция 5 */
    &:nth-of-type(5) {
      height: 740px;
      background-color: #ffebc4;
      overflow: hidden;

      .page-block__subtitle {
        top: 54px;  
      }

      .page-block__img {
        margin-top: 150px;
      }  
      .page-block__content-left {
        flex: 0 1 520px;
        border-left: 1px solid rgba(173,167,159,0.6);
        border-right: 1px solid rgba(173,167,159,0.6);
        padding-left: 20px;
      }
      .page-block__content-center {
        flex: 0 1 520px;
        padding-left: 15px;
      }
      .page-block__content-right {
        flex: 0 1 520px;
        border-left: 1px solid rgba(173,167,159,0.6);
        border-right: 1px solid rgba(173,167,159,0.6);
        //padding-right: 50px;
      }

    }
    /* секция 6 */
    &:nth-of-type(6) {
      padding-top: 220px;
      .page-block__content-left {
        flex: 0 1 820px; 
      }
      .page-block__content-right {
        padding-left: 100px;
        flex: 0 1 740px;
        .page-block__content-title {
          margin-bottom: 75px;
          line-height: 25px;  
        }
        .page-block__desc {
          max-width: 625px;
          margin-bottom: 15px;
        }
        .page-block__desc-title {
          max-width: 416px;
          margin-bottom: 35px;
        }
      }
    }
    /* секция 7 */
    &:nth-of-type(7) {
      padding-top: 135px;
      .page-block__content-left {
        flex: 0 1 740px; 
        .page-block__slogan {
          max-width: 520px;
          margin-bottom: 65px;
        }
        .page-block__desc {
          max-width: 630px;
          margin-bottom: 5px;  
        }
        .page-block__desc-title {
          max-width: 470px;  
          margin-bottom: 33px;  
        }
      }
      .page-block__content-right {
        flex: 0 1 820px;
      }
    }
    /* секция 8 */
    &:nth-of-type(8) {
      height: 955px;
      padding-top: 120px;
      .page-block__content-left {
        flex: 0 1 820px; 

        .page-block__img {
          position: relative;
          top: -385px;  
        }
      }
      .page-block__content-right {
        padding-left: 100px;
        flex: 0 1 740px;
        .page-block__slogan {
          max-width: 620px;
          margin-top: 50px;
          margin-bottom: 70px;  
        }
      }
    }
    /* секция 9 */
    &:nth-of-type(9) {
      height: 870px;
      padding-top: 100px;
      background-image: url("../img/base-cream/bg-back.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .page-block {
        &__title {
          margin-bottom: 80px;
        }
        &__desc_prime {
          max-width: 620px;
          padding-bottom: 25px;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

/*
@import "blocks/mixin";
*/