/*
@font-face {
  font-family: "HeliosExt";
  src: url("../fonts/HeliosExt/HeliosExt.woff") format("woff"),
  url("../fonts/HeliosExt/HeliosExt.otf") format("otf"),
  url("../fonts/HeliosExt/HeliosExt.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExt-Bold";
  src: url("../fonts/HeliosExt-Bold/HeliosExt-Bold.woff") format("woff"),
  url("../fonts/HeliosExt-Bold/HeliosExt-Bold.otf") format("otf"),
  url("../fonts/HeliosExt-Bold/HeliosExt-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExtLightC";
  src: url("../fonts/HeliosExtLightC/HeliosExtLightC.woff") format("woff"),
  url("../fonts/HeliosExtLightC/HeliosExtLightC.otf") format("otf"),
  url("../fonts/HeliosExtLightC/HeliosExtLightC.ttf") format("ttf");
}

@font-face {
  font-family: "HeliosExtThinC";
  src: url("../fonts/HeliosExtThinC/HeliosExtThinC.woff") format("woff"),
  url("../fonts/HeliosExtThinC/HeliosExtThinC.otf") format("otf"),
  url("../fonts/HeliosExtThinC/HeliosExtThinC.ttf") format("ttf");
}

@font-face {
  font-family: "Square721TL";
  src: url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.woff") format("woff"),
  url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.otf") format("otf"),
  url("../fonts/Square-721-TL-Extended/Square-721-TL-Extended.ttf") format("ttf");
}

$color-prime: #ffebc4;

body {
  font-family: 'HeliosExt', "Arial", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.page-main {
  max-width: 1920px;
  margin: 0 auto;
  outline: 1px dashed;
}

.page-block {
  position: relative;
  display: flex;
  padding: 0 180px;
  
  &_header {
    height: 630px;
    background-color: #ffebc4;
  }

  &__content-wrap {
    flex: 1 1 auto;
  }

  &__content-header {
    margin-bottom: 12px;
    color: #3a3a3a;
    font-family: "Square721TL";
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.8px;   
  }

  &__series-label {
    margin-bottom: 60px;
    
    color: #8c847b;
    font-family: "Square721TL";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.4px;  
  }

  &__delimiter {
    margin-bottom: 30px;
    width: 130px;
    border-bottom: 1px solid #000;
    
    font-size: 0;
  }
  
  &__img-wrap {
    position: absolute;
    z-index: 10;

    &_base {
      top: 95px;
      //left: 656px;
      left: 50%;
      transform: translateX(-57%);
    }
  }

  &__img {
    
    &_series {
      position: absolute;  
      top: 382px;
      left: 50%;
      transform: translateX(-50%);
    }

    &_base-cream {
      position: relative;
    }

    &_label {
      position: absolute;
      z-index: 2;
      top: -57px;
      right: -51px;
    }
  }

  &__age-restrict {
    margin-top: 27px;
    margin-left: -150px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    color: #b29c87;
    font-family: "HeliosExtLightC";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;

    &_age-0 {
      background-image: url('../img/base-cream/0+.png');
      background-repeat: no-repeat;
      width: 190px;
      height: 58px;
    }
  }
}
/*
  

    

    
  }
}
*/
/*
@import "blocks/mixin";
@import "blocks/page-nav";
@import "blocks/btn";
@import "blocks/contacts";
@import "blocks/main-nav";
@import "blocks/portfolio";
@import "blocks/slider";
@import "blocks/benefits";
@import "blocks/riquest-form";
@import "blocks/about-company";
@import "blocks/base-products";
@import "blocks/products";
@import "blocks/exampls";
@import "blocks/card";
*/